ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: gray;
  }
  
  .active {
    background-color: red;
  }

  .footer .active {
    background-color: gray;
  }

 .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
  }

  .footer ul {
    background-color: blue;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .search {
      margin-top: 20px;
      height: 20px;
  }

  .cart {
      display: flex;
      justify-content: flex-end;
  }

  .searchimg {
      background-color: white;
      
  }

  .rightside {
      float: right;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
  }